.header-form-apply {
    position: relative;
}
.applied-popup {
    position: absolute;
    display: inline-block;
    left: 60%;
    top: 5px;
    background-color: #d9dfdd;
    border-radius: 2px;
    padding: 2px 7px;
}

.applied-popup:before {
    content:"\A";
    border-style: solid;
    border-width: 7px 7px 7px 0;
    border-color: transparent #d9dfdd transparent transparent;
    position: absolute;
    left: -5px;
    top: 12px;
}

.applied-success {
    color: #19846c;
}

.applied-failed {
    color: red;
}

.phoenix-form{
    border: 1px solid #09333f!important;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #ffffff !important;
    border-radius: 4px;
    border: 1px solid #09333f!important;
    outline: none;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #09333f;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    color: #09333f;
}

.custom-file-upload:hover {
    background-color: #09333f;
    color: #FFF;
    transition: .3s all ease;
}